block content
  h1 Appointment Form
  form(action='/appointments', method='POST')
    label(for='date') Date:
    input(type='date', id='date', name='date', required)
    br

    label(for='time') Time:
    input(type='time', id='time', name='time', required)
    br

    if user && user.role === 'patient'
      input(type='hidden', id='patientId', name='patientId', value=user.id)
      p Patient: #{user.fullname} (You are a patient)
    else if user && user.role === 'medic'
      label(for='patientId') Patient:
      select(id='patientId', name='patientId', required)
        each patient in patients
          option(value=patient.id)= patient.User.fullname
    br

    label(for='medicId') Medic:
    select(id='medicId', name='medicId', required)
      each medic in medics
        option(value=medic.userId)= medic.User.fullname
    br

    input(type='submit', value='Schedule Appointment')