extends layout

block content
  .container
    h1 Bienvenido Administrador
    ul
      li
        a(href='/users' class='btn btn-primary') Gestionar Usuarios
      li
        a(href='/appointments' class='btn btn-secondary') Agendar Citas
      li
        a(href='/queues' class='btn btn-success') Gestionar Colas
      // Agrega más opciones según las necesidades del administrador
