extends layout

block content
  .container
    h1 Bienvenido Administrador
    ul
      li
        a(href='/users') Gestionar Usuarios
      li
        a(href='/appointments') Agendar Citas
      li
        a(href='/queues') Gestionar Colas
      // Agrega más opciones según las necesidades del administrador
