extends layout

block content
  .container
    h1 Bienvenido al Sistema de Control de Colas
    p Utilice el menú de abajo para navegar por las diferentes secciones del sistema.
    a(href='/users' class='btn btn-primary') Gestionar Usuarios
    a(href='/appointments' class='btn btn-secondary') Agendar Citas
    a(href='/queues' class='btn btn-success') Gestionar Colas
