extends layout

block content
  .container
    h1 Bienvenido Médico
    ul
      li
        a(href='/appointments') Consultar Citas
      // Agrega más opciones según las necesidades del médico
