extends layout

block content
  .container
    h1 Bienvenido Paciente
    ul
      li
        a(href='/appointments/new') Agendar Cita
      // Agrega más opciones según las necesidades del paciente
