extends ../layout_admin

block content
  h1 Registrar nuevo paciente SUS

  form(action="/admin/patients" method="POST")
    div
      label Nombre completo:
      input(type="text" name="fullname" required)

    div
      label CI:
      input(type="text" name="ci" required)

    div
      label Centro de salud:
      select(name="healthCenterId" required)
        each center in centers
          option(value=center.id)= center.name

    div
      label Observación médica:
      textarea(name="medicalHistorySummary")

    div
      button(type="submit") Registrar
