extends ../layout_admin

block content
  .container.mt-4
    h1.mb-4.text-primary Registrar nuevo paciente SUS

    form(action="/admin/patients" method="POST")
      .mb-3
        label.form-label Nombre completo:
        input.form-control(type="text" name="fullname" required)

      .mb-3
        label.form-label CI:
        input.form-control(type="text" name="ci" required)

      .mb-3
        label.form-label Centro de salud:
        select.form-select(name="healthCenterId" required)
          each center in centers
            option(value=center.id)= center.name

      .mb-3
        label.form-label Observación médica:
        textarea.form-control(name="medicalHistorySummary")

      .mb-3
        button.btn.btn-primary(type="submit") Registrar
