extends ../layout_admin

block content
  .container.mt-4
    h1.mb-4.text-primary Registrar nueva especialidad

    form(action="/admin/specialties" method="POST")
      .mb-3
        label.form-label Nombre:
        input.form-control(type="text" name="name" required)

      .mb-3
        label.form-label Médico general:
        input.form-control(type="checkbox" name="isGeneral")

      .mb-3
        button.btn.btn-primary(type="submit") Guardar
