extends ../layout_admin

block content
  .container.mt-4
    h1.mb-4.text-primary Crear nuevo usuario del sistema

    form(action="/admin/users" method="POST")
      .mb-3    
        label.form-label Nombre completo:
        input.form-control(type="text" name="fullname" required)
      .mb-3
        label.form-label Nombre de usuario:
        input.form-control(type="text" name="username" required)
      .mb-3
        label.form-label Contraseña:
        input.form-control(type="password" name="password" required)
      .mb-3
        label.form-label Rol:
        select.form-select(name="role" required)
          option(value="admin") Administrador
          option(value="medic") Médico
          option(value="patient") Paciente
      .mb-3

      button.btn.btn-primary(type="submit") Crear usuario
