extends ../layout_admin

block content
  .container.mt-4
    h1.mb-4.text-primary Editar centro de salud

    form(action=`/admin/healthcenters/${center.id}/edit` method="POST")
      .mb3
        label.form-label(for="name") Nombre:
        input.form-control(type="text" name="name" id="name" required value=center.name)

      .mb3
        label.form-label(for="level") Nivel:
        select.form-select(name="level" id="level" required)
          option(value="I" selected=(center.level === "I")) Nivel I
          option(value="II" selected=(center.level === "II")) Nivel II
          option(value="III" selected=(center.level === "III")) Nivel III

      .mb3
        label.form-label(for="address") Dirección:
        input.form-control(type="text" name="address" id="address" value=center.address)

      .mb3
        label.form-label(for="city") Ciudad:
        input.form-control(type="text" name="city" id="city" value=center.city)

      button.btn.btn-primary(type="submit") Actualizar centro
