extends ../layout_admin

block content
  h1 Editar centro de salud

  form(action=`/admin/healthcenters/${center.id}/edit` method="POST")
    div
      label(for="name") Nombre:
      input(type="text" name="name" id="name" required value=center.name)

    div
      label(for="level") Nivel:
      select(name="level" id="level" required)
        option(value="I" selected=(center.level === "I")) Nivel I
        option(value="II" selected=(center.level === "II")) Nivel II
        option(value="III" selected=(center.level === "III")) Nivel III

    div
      label(for="address") Dirección:
      input(type="text" name="address" id="address" value=center.address)

    div
      label(for="city") Ciudad:
      input(type="text" name="city" id="city" value=center.city)

    button(type="submit") Actualizar centro
