extends ../layout_admin

block content
  .container.mt-4
    h1.mb-4.text-prim Registrar nuevo centro de salud

    form(action="/admin/healthcenters" method="POST")
      .mb-3
        label.form-label(for="name") Nombre del centro:
        input.form-control(type="text" id="name" name="name" required)

      .mb-3
        label.form-label(for="level") Nivel del centro:
        select.form-select(id="level" name="level" required)
          option(value="" disabled selected) -- Seleccionar nivel --
          option(value="I") Nivel I
          option(value="II") Nivel II
          option(value="III") Nivel III

      .mb-3
        label.form-label(for="address") Dirección:
        input.form-control(type="text" id="address" name="address")

      .mb-3
        label.form-label(for="city") Ciudad:
        input.form-control(type="text" id="city" name="city" value="Sucre")

      button.btn.btn-primary(type="submit") Registrar centro
